@import url(https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap );

*{
    font-family:'Lora', serif;
    margin:0;
    padding: 0;
}
body{
    background-color: #fbe4d8;
}
#repulse-div{
    appearance: none;
    filter: drop-shadow(0 0 5rem #e7adc6);

}
.w-full{
    width:100%;
}
.relative{
    position: relative;
}
.h-screen{
    height:50vh;
}
.flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.flex-col{
    flex-direction: column;
}
.cursor-default{
    cursor: default;
}
.text-7xl{
    font-size: 6rem;
    line-height: 1;
}
.text-color{
    color: #2b124c;
}
a{
    display: flex;
    align-content: center;
    justify-content: center;
    border: 1px #190019;
    border-radius: 2rem;
    background-color: transparent;
    color: #2b124c;
    text-decoration: none;
    font-size: 2rem;
    margin: 5px;
    padding: 20px;
    width: 20vw;
    align-items: center;
    transition: 0.5s all;
}
a:hover{
    transform: scale(1.04);
    background-color:#190019;
    border: none;
    color: #fbe4fb;
    transition: 0.3s all;
    font-weight:bold;
}