@import url(https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap );
@import url(https://fonts.googleapis.com/css2?family=Cutive&family=Junge&family=Satisfy&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap);
*{
    font-family:'Lora', serif;
    margin:0;
    padding: 0;
}
body{
    background-color: #feefe5;
}
.w-fit{
    width: fit-content;
}
.h-fit{
    height: fit-content;
}
.w-full{
    width:100%;
}
.relative{
    position: relative;
}
.h-screen{
    height:40vh;
}
.h-screen-2{
    height:10vh;
}
.h-screen-3{
    height:100vh;
}
.flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.justify-center{
    justify-content:center;
}
.justify-fstart{
    justify-content: flex-start;
}
.items-center{
    align-items: center;
}
.flex-col{
    flex-direction: column;
}
.flex-col-2{
    flex-direction: row;
}
.cursor-default{
    cursor: default;
}
.text-7xl{
    font-size: 6rem;
    line-height: 1;
}
.text-color{
    color: rgb(244, 131, 180);
}
.text-color-2{
    color:#ff758f;
}
.f-poem{
    font-family: 'Satisfy',serif;
}
.f-essay{
    font-family: 'Junge',serif;
}
.f-rev{
    font-family: 'Josefin Slab',serif;
    font-weight: bold;
}
.f-size{
    font-size: 3rem;
}
.opacity-100{
    opacity: 100;
}
a{
    display: flex;
    border: 5px #190019;
    border-radius: 2rem;
    background-color: transparent;
    color: #1c448e;
    text-decoration: none;
    margin: 5px;
    padding: 20px;
    width: 30vw;
    transition: 0.2s all;
    outline: 3px green;
}
a:hover{
    transform: scale(1.04);
    background-color:#1c448e;
    border: none;
    color: #99b6ea;
    transition: 0.2s all;
    font-weight:bold;
}
.col-change:hover{
    transition:all 0.03s;
    transition: ease-out;
    color:#e63946;
}